# Node modules
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# IDE / Editor files
.idea
.vscode

# macOS files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
